{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "globalReturn": true,
      "impliedStrict": true,
      "experimentalObjectRestSpread":true,
      "jsx": true,
      "legacyDecorators": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": ["plugin:react/recommended","plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "react-hooks",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}